/* MAIN SLIDER BEGIN */

.main-slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 145px 55px 40px 55px;
    background-color: #208dcd;
}



/* MAIN SLIDER ENDS */

/* SUBSCRIBE BEGIN */

.subscribe {
    max-width: 1490px;
    width: 93%;
    margin: 0 auto;
    position: relative;
    background-color: #e8f0f2;
    padding: 45px 10px 15px 10px;
}

.subscribe .join-us {
    font: 700 50px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe .content-text {
    font: 300 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}

.subscribe form {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}

.subscribe form input[type=email] {
    width: 65%;
    height: 55px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: white;
    padding: 0 15px;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 30px;
    font: 400 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.subscribe form input[type=submit] {
    width: 30%;
    height: 55px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: #058bdc;
    text-align: center;
    font: 400 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 500px) {

    .subscribe .join-us {
        font-size: 30px;
    }

    .subscribe .content-text {
        font-size: 18px;
    }

    .subscribe form {
        white-space: normal;
    }

    .subscribe form input[type=email] {
        width: 100%;
        margin-right: 0;
    }

    .subscribe form input[type=submit] {
        width: 100%;
    }

}

/* SUBSCRIBE ENDS */