/* MAIN SLIDER BEGIN */

.main-slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 145px 55px 28vh 55px;
}

.main-slider .top-banner-wrapper {
    width: 100%;
    height: 72vh;
    background-image: url("../images/pic/top-banner-background.jpg");
    background-size: cover;
    background-position: center center;
    padding: 50px 0 0 0;
}

.main-slider .top-banner-wrapper .top-banner-text {
    width: 67%;
    transform: translateX(-55px);
    padding: 35px 5% 35px 30px;

    background-color: rgba(0, 0, 0, 0.55);
    background-image: url(../images/icons/dotted-background.png);
    background-repeat: repeat;
}

.top-banner-wrapper .top-banner-text h3 {
    font: 400 72px/1.2 'Russo One', 'Arial', 'Helvetica', sans-serif;
    color: white;
    text-align: left;
}

.top-banner-wrapper .top-banner-text h3 span {
    color: #058bdc;
}

.top-banner-wrapper .top-banner-text p {
    font: 300 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: white;
    margin-bottom: 15px;
    text-align: left;
}

.top-banner-wrapper .top-banner-text .top-banner-btn {
    font: 300 16px/45px 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: white;
    text-align: center;

    display: inline-block;
    width: 180px;
    height: 45px;
    background-color: #058bdc;
    cursor: pointer;
}

.main-slider .top-banner-wrapper .top-banner-img {
    display: inline-block;
    position: absolute;
    width: 43%;
    bottom: 13.5%;
    left: 5%;
}


/* MAIN SLIDER ENDS */

/* SUBSCRIBE BEGIN */

.subscribe {
    max-width: 1490px;
    width: 93%;
    margin: 0 auto;
    position: relative;
    background-color: #e8f0f2;
    padding: 45px 10px 15px 10px;
}

.subscribe .join-us {
    font: 700 50px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe .content-text {
    font: 300 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}

.subscribe form {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}

.subscribe form input[type=email] {
    width: 65%;
    height: 55px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: white;
    padding: 0 15px;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 30px;
    font: 400 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

.subscribe form input[type=submit] {
    width: 30%;
    height: 55px;
    display: inline-block;
    border: none;
    outline: none;
    background-color: #058bdc;
    text-align: center;
    font: 400 22px/1.2 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 500px) {

    .subscribe .join-us {
        font-size: 30px;
    }

    .subscribe .content-text {
        font-size: 18px;
    }

    .subscribe form {
        white-space: normal;
    }

    .subscribe form input[type=email] {
        width: 100%;
        margin-right: 0;
    }

    .subscribe form input[type=submit] {
        width: 100%;
    }

}

/* SUBSCRIBE ENDS */